<html>
<head>
  <meta charset="UTF-8">
  <title>Edit Figure</title>
</head>
<body>
  <form action="/figures/<%= @figure.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label>Figure Name: </label>
    <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">

    <br /><br />

    <label>Edit Titles: </label>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="<%= title.name %>" <%='checked' if @figure.titles.include?(title) %>>
    <% end %>
    <br /><br />
    <label>Or, Add New Title: </label>
    <input type="text" id="new_title" name="title[name]">

    <br /><br />

    <label>Landmarks: </label>
    <% Landmark.all.each do |landmark| %>
      <input type="checkbox" id="<%= landmark.id %>" name="figure[landmark_ids][]"><%= landmark.name %>
    <% end %>
    <br /><br />
    <label>Or, Add New Landmark: </label>
    <input type="text" id="new_landmark" name="landmark[name]">

    <br /><br />

    <input type="submit" id="Edit Figure" value="Edit Figure">

  </form>
</body>
</html>
